@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Variables */
:root {
    --primary-color: rgb(140, 0, 255);
    --secondary-color: #D4D4D8;
    --surface-color: #FFF;
  }
  
  /* Override default focus colors for tailwindcss-forms https://github.com/tailwindlabs/tailwindcss-forms */
  [type='text']:focus,
  [type='email']:focus,
  [type='url']:focus,
  [type='password']:focus,
  [type='number']:focus,
  [type='date']:focus,
  [type='datetime-local']:focus,
  [type='month']:focus,
  [type='search']:focus,
  [type='tel']:focus,
  [type='checkbox']:focus,
  [type='radio']:focus,
  [type='time']:focus,
  [type='week']:focus,
  [multiple]:focus,
  textarea:focus,
  select:focus {
    --tw-ring-color: var(--primary-color);
    border-color: var(--primary-color);
  }

  /* Override default focus colors for tailwindcss-forms https://github.com/tailwindlabs/tailwindcss-forms */
  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='checkbox'],
  [type='radio'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    --tw-border-color: var(--secondary-color);
    border-color: var(--secondary-color);
    background-color: var(--surface-color);
  }